*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
  font-family: Myriad Pro;
  src: url('fonts/myriad-pro/MYRIADPRO-REGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Myriad Pro;
  src: url('fonts/myriad-pro/MYRIADPRO-BOLD.OTF') format('opentype');
  font-weight: bold;
  font-style: normal;
}
body{
  background-size: 100%;
}
:root {
    --primary-color:white;
    --secondary-color:rgb(0,10,99);
    --secondary-light-color: rgb(0,85,255);
    --transparent-color: rgba(0,0,0,0.5);

}

.fixed-top{
    padding: 0,1px;
    background-color: var(--secondary-light-color);
    color: var(--primary-color);
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

.acessibilidade{
  margin-right: 50px;
}



.contato{
  margin-left: 50px;
  display: flex;
  margin-top: 0,5%;
}
.contato a{
  color: var(--primary-color);
  text-decoration: none;
  margin-left: 5px;

}

.contato a:hover{
  text-decoration: underline;
  color: var(--primary-color);
}

.contato a i{
  margin-left: 5px;
}

.contato p{
  font-size: 5;
}

.navigator{
  background-color: var(--secondary-color);
}

.navigator{
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.links ul{
  list-style-type: none;
  display: flex;
  margin-right: 50px;
}

.links ul a{
  text-decoration: none;
  color: var(--primary-color);
}

.links ul a:hover{
  color: var(--primary-color);
  transform: translateY(-10px);
  transition: 0.5s;
}

.links ul a li{
  color: var(--primary-color);
  margin-left: 15px;
}

.privacypol{
    color: var(--secondary-color);
}
.privacypol a{
    color: var(--secondary-light-color);
}

.privacypol h1{
    text-align: center;
}
.update{
    text-align: center;
}

.row-bottom{
    display: flex;
  }
  
  .row-inside-bottom{
    margin-top: 10px;
    margin-left: 20px;
    flex: 50%;
  }
  
  .row-inside-bottom ul{
    list-style-type: none;
    margin-top: 5%;
    align-items: center;
    flex: 50%;
    
  }
  
  .row-inside-bottom ul li a {
    color: var(--primary-color);
    text-decoration: none ;
    font-family: "Myriad Pro";
  }
  
  .links-bottom{
    margin-top: -10%;
    color: var(--primary-color);
    font-family: "Myriad Pro";
  
  }
  
  .links-bottom a i{
    color: var(--primary-color);
    padding: 10px;
    background-color: var(--secondary-color);
    margin-top: 15%;
  
  }
  
  .links-bottom a i:hover{
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px;
  }

  .venha{
    margin-top: 10px;
  }
  
  .links-bottom a{
    text-decoration: none;
    color: var(--primary-color);
    margin-top: 5%;
  }
  
  .links-bottom a:hover{
    text-decoration: underline;
    color: var(--primary-color);
  
  }

  
.bottom{
    padding: 150px;
    background-color: var(--secondary-color);
  }
  
  .bottom-img{
    margin-top: -10%;
  }
  
  
  
  
  .fix-bottom{
    padding: 3px;
    background-color: var(--secondary-light-color);
    text-align: center;
  }
  
  .fix-bottom blockquote{
    color: var(--primary-color)
  
  }
  
  .fix-bottom a{
    color: var(--primary-color);
  }
  
  .luiz:hover{
    transform: translateY(-10px);
    color: var(--primary-color);
  }

  .c{
    color: var(--primary-color);
  }